main {
  display: flex;
  width: 100vw;
  height: 100vh;
  gap: 25px;
  padding: 30px 50px;
  background-color: rgb(25, 25, 25);

}

section {
  background-color: rgb(43, 43, 43);
  border: 2px solid rgb(120, 120, 120);
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.338);
}

.sec2 {
  width: 75%;
  height: 100%;
  min-height: fit-content;
}

.skills {
  justify-content: center;
}

.head {
  display: flex;
  height: 60px;
}

.address {
  display: flex;
  align-items: end;
  font-size: large;
  font-weight: 700;
  width: 40%;
  padding: 0 25px;
  border-top-left-radius: 25px;
}

.address_text {
  border-bottom: 3px solid orange;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.123);
  padding: 0 25px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 25px;
  border-bottom:  2px solid rgb(120, 120, 120);
  border-left: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.338);
}

.links {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .address {
    display: none;
  }

  .navbar {
    padding: 0 20px;
    width: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 0;
    border-left: 0;
  }

  #Contact {
    padding: 20px;
  }

  main {
    padding: 20px;
    height: fit-content;
  }

  .edu_box2 {
    margin-left: 15px;
  }
}