#Resume {
    display: none;
    padding: 25px;
    max-height: 85vh;
    overflow-x: hidden;
    contain: content;

    &:hover::-webkit-scrollbar {
        display: block;
    }
}

/* Target the whole scrollbar */
#Resume::-webkit-scrollbar {
    display: none;
    width: 10px;
    /* for vertical scrollbar */
    height: 10px;
    /* for horizontal scrollbar */
}

/* Track (background) */
#Resume::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-bottom-right-radius: 35px;
}

/* Thumb (the draggable part) */
#Resume::-webkit-scrollbar-thumb {
    background: #767676;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* On hover */
#Resume::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.skill {
    width: 23%;
    background-color: rgba(255, 255, 255, 0.103);
    padding: 10px 20px;
    border-radius: 5px;
}

.lavel-outer {
    width: 100%;
    height: 6px;
    background-color: gray;
    border-radius: 20px;
    margin-top: 5px;
}

.lavel-inner {
    width: 80%;
    height: 6px;
    background: linear-gradient(to right, rgb(255, 191, 73), rgb(159, 104, 0));
    border-radius: 20px;
}


.edu_boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bullet_box {
    display: flex;
    width: 100%;
    /* background-color: rgb(12, 11, 11); */
}

.main_bullet {
    margin-top: 25px;
}

.line {
    margin: 0 30px 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.495);
}

.edu_label {
    display: flex;
    align-items: center;
    background-color: rgb(77, 77, 77);
    border-radius: 5px;
    box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.49);
}

.icon {
    width: 40px;
    filter: drop-shadow(0 0 3px white);
}

.edu_bullet {
    width: 10px;
    height: 10px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.925);
}

.points {
    width: 100%;
    margin: 10px 0 10px 20px;
}

.project_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

span {
    font-weight: 600;
}