#Resume {
    display: none;
    padding: 25px;
    max-height: 85vh;
    overflow-x: hidden;
    contain: content;

    &:hover::-webkit-scrollbar {
        display: block;
    }
}

/* Target the whole scrollbar */
#Resume::-webkit-scrollbar {
    display: none;
    width: 10px;
    /* for vertical scrollbar */
    height: 10px;
    /* for horizontal scrollbar */
}

/* Track (background) */
#Resume::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-bottom-right-radius: 35px;
}

/* Thumb (the draggable part) */
#Resume::-webkit-scrollbar-thumb {
    background: #767676;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* On hover */
#Resume::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.skill {
    width: 23%;
    background-color: rgba(255, 255, 255, 0.103);
    padding: 10px 20px;
    border-radius: 5px;
}

.lavel-outer {
    width: 100%;
    height: 6px;
    background-color: gray;
    border-radius: 20px;
    margin-top: 5px;
}

.lavel-inner {
    width: 80%;
    height: 6px;
    background: linear-gradient(to right, rgb(255, 191, 73), rgb(159, 104, 0));
    border-radius: 20px;
}


.edu_boxes {
    display: flex;
    width: 100%;
}

.edu_box1 {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 5%;
    /* background-color: rgb(12, 11, 11); */
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.521);
}

.edu_label {
    display: flex;
    align-items: center;
    background-color: rgb(77, 77, 77);
    border-radius: 3px;
}

.icon {
    width: 40px;
    filter: drop-shadow(0 0 3px white);
}

.edu_bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.925);
}

.pro_bullet1 {
    margin-top: 30px;
}

.pro_bullet2 {
    margin-top: 140px;
}

.points {
    margin: 0 20px;
}

.edu_bullet1 {
    margin-top: 28px;
}

.edu_bullet2 {
    margin-top: 92px;
}

.edu_box2 {
    padding: 6px;
    width: 95%;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

span {
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    .pro_bullet2 {
        margin-top: 308px;
    }
}