#Contact {
    display: none;
    padding: 25px;
}

.contact_form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input_boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    width: 48%;
    height: 50px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 1.1rem;
    border: 2px solid rgba(255, 255, 255, 0.151);
    outline: none;
}

textarea {
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.1rem;
    border: 2px solid rgba(255, 255, 255, 0.151);
    outline: none;
}

.send_btn {
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: orange;
    cursor: pointer;
    border: 2px solid orange;
    background-color: rgb(58, 58, 58);
    box-shadow: 2px 2px 5px orange;
}