#Contact {
    display: none;
    padding: 25px;
    max-height: 85vh;
    overflow-x: hidden;
    contain: content;

    &:hover::-webkit-scrollbar {
        display: block;
    }
}

/* Target the whole scrollbar */
#Contact::-webkit-scrollbar {
    display: none;
    width: 10px;
    /* for vertical scrollbar */
    height: 10px;
    /* for horizontal scrollbar */
}

/* Track (background) */
#Contact::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-bottom-right-radius: 35px;
}

/* Thumb (the draggable part) */
#Contact::-webkit-scrollbar-thumb {
    background: #767676;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* On hover */
#Contact::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contact_box {
    margin-top: 35px;
}

.contact_form {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.maps-container {
    width: "100%";
    height: "550px";
    border: "1px solid #ccc";
    border-radius: "8px";
    overflow: "hidden";
    /* padding: 20px; */
    /* background-color: white; */
}

.maps {
    border: none;
}

.input_boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    width: 48%;
    height: 50px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 1.1rem;
    border: 2px solid rgba(255, 255, 255, 0.151);
    outline: none;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.1rem;
    border: 2px solid rgba(255, 255, 255, 0.151);
    outline: none;
}

.send_btn {
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: orange;
    cursor: pointer;
    border: 2px solid orange;
    background-color: rgb(58, 58, 58);
    box-shadow: 2px 2px 5px orange;
}