#About {
    padding: 25px;
    max-height: 85vh;
    overflow-x: hidden;
    contain: content;

    &:hover::-webkit-scrollbar {
        display: block;
    }
}

/* Target the whole scrollbar */
#About::-webkit-scrollbar {
    display: none;
    width: 10px;
    /* for vertical scrollbar */
    height: 10px;
    /* for horizontal scrollbar */
}

/* Track (background) */
#About::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-bottom-right-radius: 35px;
}

/* Thumb (the draggable part) */
#About::-webkit-scrollbar-thumb {
    background: #767676;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* On hover */
#About::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.title {
    margin-top: 30px;
}

.boxes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 10px;
    width: 100%;
    margin-left: 1%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.396);
}

.box {
    display: flex;
    gap: 25px;
    width: 47%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 20px;
    padding: 40px;
    contain: content;
}

.icon_box {
    padding: 15px 0;
}

.card_icon {
    width: 50px;
    filter: drop-shadow(0 0 3px white);
}